<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
	<title>起跳网｜主页</title>
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
</head>
<body class="index-background">
<div class="container">
	<div class="login-text">
		<img src="img/login/login-logo.png" class="login-img">
		<p>专为大学生校园生活</p>
		<p class="p-24">——    不装，这就是青春</p>
		<a href="login.html" target="_blank">进入页面</a>
	</div>
</div>
<!-- <div class="padding-color"></div> -->
<footer class="footer-index">
	<ul class="footer-ul">
		<li><a href="#">关于我们</a></li>
		<li><a href="#">加入我们</a></li>
		<li><a href="#">使用协议</a></li>
		<li><a href="#">帮助中心</a></li>
		<li><a href="#">友情链接</a></li>
		<li><a href="#">版本更新</a></li>
	</ul>
	<p>copyright@起跳团队｜版权所有｜备案号：渝ICP｜备150434号 </p>
</footer>
</body>
</html>